@import './variables.scss';



* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-base;
  color: $base-font-color;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.section {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
  &__content {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  & h1 {
    font-size: 20px;
  }
  & h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 10px;
    color: rgb(36, 47, 64);
  }
  & a {
    margin-top: 30px;
  }
  & .price-box__price__point {
    font-size: 30px
  }
  }
}

.section_contain {
  display: flex;
  flex-direction: row;
}
.section__price{
  margin-left: 30px;
  margin-top: 50px;
  width: 171.5px;
  height: 253.4px;
  border-radius: 6px;
  background-color: #f5fafd;
  object-fit: contain;
  background-color: #ffffff;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
  & li {
    font-size: 8.1px;
    line-height: 2.29;
    color: rgb(91, 107, 130);
    padding-top: 10px;
  }
  & p {
    padding-bottom: 50px;
  }
  & .rant {
    font-size: 35px;
  }
  & .button {
    margin-top: 25px;
  }
}


.price-box {
}

.button {
  display: inline-block;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(60, 207, 142);
  padding: 16px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
}

.button-white {
  font-size: 9px;
  color: rgb(91, 107, 130);
  border-radius: 2.3px;
  border: solid 0.6px #5b6b82;
  background-color: transparent; 
  padding: 10px 15px;
}