@import './mixins.scss';

.section {
  z-index: 1;
  width: 100%;
  min-height: 150px;
  @include flex-center-horizontal;
  align-items: stretch;
  padding: 0 1rem;
  &_dark {
    background: rgb(0,0,0);
  }
  &_iphone-xs {
    padding-top: 92px;
    padding-bottom: 70px;
  }
  &_iphone-x {
    padding-top: 35px;
    padding-bottom: 0px;
  }
  &_red-cross {
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
    padding-bottom: 150px;
    height: auto;
  }
  &__content {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    @include flex-center-horizontal;
    width: 100%;
    max-width: $page-content-width;
    text-align: center;
  }
  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    &_iphone-xs {
      margin-top: 120px;
      height: 300px;
      width: 90%;
      background-image: url(../../assets/images/lesson_6/hero-iphone-xs_large_2x.jpg);
      @include tablet {
        margin-top: 180px;
        height: 500px;
        width: 100%;
        background-image: url(../../assets/images/lesson_6/hero-iphone-xs_small_2x.jpg);
      }
    }
    &_iphone-x {
      margin-top: 138px;
      height: 300px;
      width: 78%;
      background-image: url(../../assets/images/lesson_6/iphone_xr_large.jpg);
      @include tablet {
        margin-top: 150px;
        height: 500px;
        width: 80%;
        background-image: url(../../assets/images/lesson_6/iphone_xr_small_2x.jpg);
      }
    }
  }
}

.description {
  position: absolute;
  &__title {
    font-size: 56px;
    flex-wrap: nowrap;
    font-weight: 400;
    line-height: 1.07143;
    letter-spacing: -.005em;
  }
  &__content {
    font-size: 27px;
    line-height: 1.14815;
    font-weight: 400;
    letter-spacing: .008em;
    padding-bottom: 15px;
  }
  &__more {
      font-size: $burger-size;
      line-height: 1.38105;
      font-weight: 400;
      letter-spacing: .011em;
      color: rgb(102, 187, 255);
      padding-right: 25px;
    }
  &__order {
      color: rgb(204, 204, 204);
      margin-top: .2em;
    }
  &__text {
    padding-top: $burger-size;
    color: rgb(17, 17, 17);
    font-size: 27px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: .008em;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    text-align: left;
      @include tablet {
        font-size: 20px;
      }
  }
}

.section_watch {
  position: relative;
  height: 580px;
  width: 100%;
  z-index: 1;
  width: 100%;
  min-height: 150px;
  padding: 0 1rem;
  &_white {
    background:rgb(250, 250, 250);
  }
  &__description {
    flex-grow: 0;
    position: absolute;
    display: block;
    top: 50%;
    right: 40%;
    width: 50%;
    margin-left: 0;
    transform: translateY(-50%);
    @include tablet {
      top: 20%;
      left: 30%;
    }
  }
  &__image {
    padding-left: 30px;
    &_watch {
      width: 340px;
      height: 580px;
      background-size: 340px 624px;
      position: absolute;
      left: 50%;
      width: 50%;
      margin-left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url(../../assets/images/lesson_6/apple_watch_series_4_large.jpg);
      @include tablet {
        top: 20%;
        left: 25%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../../assets/images/lesson_6/apple_watch_series_4_small_2x.jpg);
      }
    }
  }
}


.description__image {
  padding-left: 47px;
  width: 100%;
  @include tablet {
    padding-left: 10px;
  }
}

.section_watch .description__more {
  margin-left: 10px;
  padding-left: 0px;
  padding-top: $burger-size;
  font-size: $burger-size;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: .011em;
  color: rgb(0, 112, 201);
  padding-right: $burger-size;
  flex-wrap: nowrap;
    @include tablet {
      font-size: 15px;
  }
}
.section_watch .description__more-first {
  margin-left: 35px;
}

.section-gallery{
  display: flex;
  justify-content:center;
  align-items: stretch;
  text-align: center;
  background-color:rgb(255, 255, 255);
  &__container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: stretch;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 580px;
    width: 100%;
    border: 6px solid rgb(255, 255, 255);
  }
  &__description {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $page-content-width;
    text-align: center;
    color: rgb(51, 51, 51);
  }
  &__column-left {
    position: relative;
    flex: 50%;
    background-image: url(../../assets/images/lesson_6/apple_music_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-right: 6px solid rgb(255, 255, 255);
  }
  &__column-right {
    flex: 50%;
  }
  &__image_right {
    background-image: url(../../assets/images/lesson_6/large.jpg);
    position: absolute;
    top: 30%;
    left: 63%;
    width: 417px;
    height: 387px;
    background-size: 417px 387px;
    background-repeat: no-repeat;
  }
}