
$font-size-base: 14px;
$base-font-color: rgb(80, 80, 80);
$burger-size: 20px;
$global-nav-height: 44px;
$page-content-width: 960px;
$bodyBg: rgb(83, 95, 130);
$interfaceBg: rgb(255, 255, 255); 
$text: #9EA0AA;
$action: #626FB0;
$actionText: rgb(255, 255, 255);
$separator: rgb(241, 241, 246);
$containerShadow: rgba(40, 40, 80, 0.2);
$interfaceHeight: 500px;
$titleHeight: 50px;
$formHeight: 136px;
$listHeight: $interfaceHeight - ($titleHeight + $formHeight);

$link-color: rgb(102, 187, 255);
